.Quiz{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #828282;
  height: min(90vh);
  h1{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
  }
}