.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isFinished{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.checkList{
  list-style: none;
  li{
    display: flex;
    margin: 15px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }
}

.result{
  margin: 15px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.buttonBlock{
  display: flex;
  gap: 1rem;
}
.success{
  color: #27AE60;
  margin-left: 10px;
}

.error{
  color: #D14B4B;
  margin-left: 10px;
}