.item {
  padding: 10px;
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in;
  background: #fff;
}

.item:hover{
  background: lightgray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.success{
  background: #27AE60;
}
.error{
  background:  #D14B4B;
}

.success:hover{
  background: #27AE60;
}
.error:hover{
  background:  #D14B4B;
}